@use "look";
@use "display";
:root {
  font-family: look.$fFamily;
  font-size: look.$fontS;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
.mainpadding {
  padding: 0.5rem;
}
a {
  color: inherit;
  text-decoration: inherit;
}
hr {
  max-height: 1px;
  scale: 1 0.5;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main,
.top-section {
  gap: 5vh;
}
main {
  @extend .mainpadding;
}
article {
  gap: 2.5vh;
}
p {
  color: look.$secondary-grayish-blue;
}
header {
  padding: 0.5rem 1rem;
  @media (max-width: 1200px) {
    .open {
      opacity: 0;
    }
    nav {
      position: fixed;
      top: 0;
      right: 0;
      background-color: look.$secondary-white;
      width: 70vw;
      height: 100%;
      padding: 10rem 2rem;
      transition: translate 0.4s ease;
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        box-shadow: 0 0 0 100vmax rgb(0 0 0 / 0.4);
        transition: opacity 0.2s ease;
        z-index: -1;
      }
      ul {
        flex-flow: column;
      }
    }
    &:not([data-menu-open]) {
      nav {
        translate: 100%;
        &::before {
          opacity: 0;
        }
      }
      .close {
        opacity: 0;
      }
      .open {
        opacity: 1;
      }
    }
  }
}

ul[data-flex] {
  list-style: none;
  gap: 2.5em;
}
.hamburger,
nav {
  margin-inline-start: auto;
}

.hamburger {
  @media (max-width: 1200px) {
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    > * {
      transition: 0.2s ease;
      grid-row: 1;
      grid-column: 1;
    }
  }
}

.read-more,
.new-articles {
  color: look.$secondary-white;
}
:where(.top-article) {
  h1 {
    font-size: 2.5rem;
    max-width: 12ch;
    letter-spacing: 0.05ch;
    font-weight: 900;
  }
  :where(.read-more) {
    background-color: look.$primary-red;
    width: 50%;
    padding: 1em 2em;
    place-content: center;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.3ch;
    font-weight: 700;
  }
}
.new-articles {
  padding: 1rem;
  gap: 2vh;
  background-color: look.$secondary-dark-blue;
  h3 {
    align-self: center;

    color: look.$primary-orange;
    font-size: clamp(1.5rem, 2.5rem, 2.7rem);
    font-weight: 600;
  }
  article {
    gap: 0.5rem;
  }
}
.bottom-section {
  gap: 1rem;
  counter-reset: article;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.bottom-article {
  grid-auto-rows: max-content;
  grid-template-columns: 2fr 5fr;
  max-height: 254px;
  counter-increment: article;
  &-wrapper {
    grid-row: 1;
    grid-column: 2;
    &::before,
    h5 {
      font-weight: 900;
    }
    &::before {
      order: -1;
      color: look.$secondary-blue;
      content: "0" counter(article);
      font-size: 2.5vmax;
      font-weight: 900;
    }
    h5 {
      font-size: min(1.4vmax, 1.6rem);
    }
  }
}
@media (min-width: 1200px) {
  main {
    width: min(1400px, 75%);
    margin-inline: auto;
  }
  .hamburger {
    display: none;
  }
  .top-section {
    grid-template-columns: 1fr 0.5fr;
  }
  .top-article {
    grid-template-columns: repeat(2, 1fr);
    .main-picture {
      grid-column: 1 / -1;
    }
    .read-more {
      padding: 0.25em 1em;
    }
    h1 {
      grid-row: span 2;
      font-size: calc(3rem + 0.25vw);
    }
    p,
    a {
      grid-column: 2;
    }
    p {
      max-width: 40ch;
      word-spacing: 0.2ch;
      line-height: 2.5ch;
    }
  }

  .bottom-section {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
